@use "partials/setup";
@use "partials/variables" as *;
@use "partials/typography" as *;

body {
  background: linear-gradient(-135deg, $color1 22px, transparent 1%) center, linear-gradient(rgba($color4, 0.8) 18px, transparent 1%) center, rgba($color1, 0.8);
  background-size: 20px 20px;
  background-attachment: fixed;
  hr {
    border: solid $black 2px;
    margin: 0;
  }
  .App {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: solid $black 4px;
    border-radius: 25px;
    width: 80%;
    max-width: 1250px;
    justify-content: space-between;
    margin: 50px auto;
    overflow: hidden;
  }
  footer {
    width: 100%;
    padding: 25px 0px;
  }
  header {
    display: flex;
    flex-direction: column;
    background-color: $color3;
    border-bottom: solid 4px $black;
    padding-top: 25px;
    .title {
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100px;
        aspect-ratio: 1/1;
        margin-left: 30px;
      }
    }
    nav {
        ul {
        padding: 0;
        margin: 0;
        margin-top: 25px;
        width: 100%;
        background-color: $color5;
        border-top: solid $black 4px;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 20px;
        li {
            padding: 15px 0px;
        }
        }
    }
  }
  footer {
    border-top: solid 4px $black;
    background-color: $color3;
  }
  button, .button {
    color: $black;
    text-decoration: none;
    padding: 7px 12px;
    border: solid $black 2px;
    border-radius: 5px;
    width: 125px;
    background-color: $color5;
    cursor: pointer;
    &:hover {
      color: $black;
      background-color: $color4;
      transition: 0.3s;
    }
  }
  main {
    a {
      color: $color6;
      &:hover {
        color: $color2;
      }
    }
    padding: 50px;
    blockquote {
      background-color: rgba($color6, 0.5);
      padding: 20px;
    }
    .provinceSelect {
      padding-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      select {
        /* remove default for firefox */
        -moz-appearance: none;
        /* remove default for chrome */
        -webkit-appearance: none;
        /* replace icon */
        background: url("assets/down-arrow.png") no-repeat right #fff;
        background-size: 30px;
        background-position: calc(100% - 7px);
        line-height: 1.2;
        width: 250px;
        padding: 10px;
        border: solid $black 2px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .linksAndResources {
      ul {
        background-color: rgba($color6, 0.6);
        text-align: left;
        width: 90%;
        max-width: 750px;
        margin: 0 auto;
        padding: 15px;
        padding-left: 35px;
        li {
          padding: 5px 0;
        }
      }
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      gap: 10px;
      fieldset {
        border: none;
      }
      label {
        margin: 0;
      }
      input,
      textarea {
        padding: 7px;
        border: solid $black 2px;
        border-radius: 5px;
      }
      input {
        width: 225px;
      }
    }
  }
}

// screens smaller than 768px
@media only screen and (max-width: 768px) {
  body {
    .App {
      margin: 0;
      min-height: 100vh;
      width: 100%;
      border: none;
      border-radius: initial;
      background: none;
    }
    header {
      padding: 0;
      .title img {
        height: 70px;
        margin-left: 15px;
      }
      nav {
        ul {
            margin: 0;
        }
      }
      h1 {
        padding: 25px 0px;
      }
    }
    main {
      background: $white;
      border-radius: 25px;
      border: solid 4px $black;
      width: 90%;
      margin: 5% auto;
      padding: 25px;
      .provinceSelect {
        flex-direction: column;
      }
      form {
        flex-direction: column;
      }
    }
    .downloads, .links {
      padding-bottom: 50px;
    }
    footer {
      align-self: flex-end;
    }
  }
}
